[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:feng-li/.emacs.d.git
[submodule "git-latexdiff"]
	path = git-latexdiff
	url = https://gitlab.com/git-latexdiff/git-latexdiff.git
[submodule "alacritty-dracula-theme"]
	path = alacritty-dracula-theme
	url = https://github.com/dracula/alacritty.git
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
        path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh_custom/plugins/autoswitch-virtualenv"]
	path = zsh_custom/plugins/autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
[submodule "zsh_custom/plugins/autoswitch_virtualenv"]
	path = zsh_custom/plugins/autoswitch_virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
[submodule "zsh_custom/plugins/zsh-syntax-highlighting"]
	path = zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
