[submodule "gnome-terminal-dracula-theme"]
	path = gnome-terminal-dracula-theme
	url = git@github.com:dracula/gnome-terminal.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "zsh-dracula-theme"]
	path = zsh-dracula-theme
	url = git@github.com:dracula/zsh.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:feng-li/.emacs.d.git
[submodule "gedit-dracula-theme"]
	path = gedit-dracula-theme
	url = git@github.com:dracula/gedit.git
[submodule "git-latexdiff"]
	path = git-latexdiff
	url = https://gitlab.com/git-latexdiff/git-latexdiff.git
[submodule "alacritty-dracula-theme"]
	path = alacritty-dracula-theme
	url = git@github.com:dracula/alacritty.git
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
        path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh_custom/plugins/autoswitch-virtualenv"]
	path = zsh_custom/plugins/autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
