[user]
	name = Feng Li
	email = m@feng.li
[core]
	excludesfile = ~/.dotfiles/git-ignore-global
        editor = "emacsclient -nw -c -a ''"
	quotepath = false
	fileMode = false
[color]
	ui = true
	interactive = always
	showbranch = always
	status = always
[instaweb]
        httpd=webrick
[difftool.latex]
        cmd = git-latexdiff "$LOCAL" "$REMOTE" --latexmk --ignore-latex-errors
[difftool]
        prompt = false
[push]
	default = simple
#[http]
#	proxy = socks5h://127.0.0.1:1080
#[https]
#	proxy = socks5h://127.0.0.1:1080
#[url "https://"]
#	insteadOf = git://
[credential]
	helper = store
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[diff]
	tool = meld
	ignoreSubmodules = dirty
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[gc]
        auto = 500
        autoPackLimit = 10
