[user]
	name = Feng Li
	email = m@feng.li
[core]
	excludesfile = ~/.dotfiles/git-ignore-global
	quotepath = false
	fileMode = false
	sshCommand = ssh -i ~/.ssh/fli_rsa -F /dev/null
	editor = emacsclient --tty -create-frame -a=""
[color]
	ui = true
	interactive = always
	showbranch = always
	status = always
[instaweb]
        httpd=webrick
[difftool.latex]
        cmd = git-latexdiff --latexmk --tmpdirprefix diff  --ignore-latex-errors \"$REMOTE\" \"$LOCAL\"
[difftool]
        prompt = false

[push]
	default = simple
# [http]
# 	proxy = socks5h://127.0.0.1:1090
# [https]
# 	proxy = socks5h://127.0.0.1:1090
# [url "https://"]
# 	insteadOf = git://
[alias]
        noproxy = config --global --remove-section http
        proxy = config --global  http.proxy http://127.0.0.1:41091

[credential]
	helper = store
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[diff]
	tool = meld
	ignoreSubmodules = dirty
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[gc]
        auto = 500
        autoPackLimit = 10
[log]
	date = human-local
[advice]
	ignoredHook = false
[http]
	proxy = http://127.0.0.1:41091
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git://"]
	insteadOf = https://
